{{yield}}    

<div class= "play-list" style="overflow-x:auto;">
  <table>
    <tr>
      <th>Date</th>
      <th>Place</th>
      <th>Play Title</th> 
      <th>Part</th>
    </tr>
    <tr>
      <td>2013</td>
      <td>Big Spring High School</td>
      <td>Beauty and the Beast</td> 
      <td>Lefou</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Big Spring High School</td>
      <td>Legally Blond</td> 
      <td>Kyle (the UPS guy), Prison Guard, Lowell, DJ</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Big Spring High School</td>
      <td>Our Town</td> 
      <td> </td>
    </tr>
    <tr>
      <td>2015</td>
      <td>Big Spring High School</td>
      <td>Sweeney Todd</td> 
      <td>Anthony Hope</td>
    </tr>
    <tr>
      <td>2015</td>
      <td>Carlisle Community Theatre</td>
      <td>Anything Goes</td> 
      <td>Chinese Convert</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>Big Spring High School</td>
      <td>Les Miserables</td> 
      <td>Marius</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>Carlisle Community Theatre</td>
      <td>Shrek the Musical</td> 
      <td>Third Little Pig, guard</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>Lancaster Bible College</td>
      <td>Mary Poppins</td> 
      <td>Policeman,Ensemble</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>Lancaster Bible College</td>
      <td>The Magic Flute</td> 
      <td>Monostatos</td>
    </tr>
  </table>
</div>			