{{yield}}
<div class="galleries">
  <div class="video"><h2>Les Miserables</h2>
  <br>
    <div class="row"> 
      <div class= "josh-video">
        <iframe src="//www.dailymotion.com/embed/video/x6d4mqg" allowfullscreen="" width="640" height="360" align= "middle" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>          
      <br>
        <iframe src="//www.dailymotion.com/embed/video/x6d4mvn" allowfullscreen="" width="640" height="360" align= "middle" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>          
      <br>
        <iframe src="//www.dailymotion.com/embed/video/k2xqk8YlZ74y8Iq2LYH" allowfullscreen="" width="640" height="360" align= "middle" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>          
      </div>
    </div>
  </div>
</div>

