/* Navbar Styling */

.navbar, navbar-inverse {
  position: fixed;
  background: transparent;
  z-index: 9; 
  border-bottom: 1px solid #bfbfbf; 
}

.nav li {
  list-style-type: none;
  text-decoration: none;
  font-family: palatino;
  text-shadow: 1px 1px #bfbfbf;
  margin-top: 15px;
  font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #d9d9d9 !important;
  display: inline;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-family: palatino;
  text-shadow: 1px 1px #bfbfbf; 
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #802000 !important;
  font-weight: bold;
  text-shadow: none;
  transition: 0.7s all linear;
}