@import 'contact';
@import 'gallery';
@import 'navbar';
@import 'performances';


/* Navbar Styling */

  .navbar, navbar-inverse {
    position: fixed;
    background: transparent;
    z-index: 9; 
    border-bottom: 1px solid #bfbfbf; 
  }

  .nav li{
    list-style-type: none;
    text-decoration: none;
    font-family: palatino;
    text-shadow: 1px 1px #bfbfbf;
    margin-top: 15px;
    font-size: 1.5em;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: #d9d9d9 !important;
    display: inline;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font-family: palatino;
    text-shadow: 1px 1px #bfbfbf; 
  }

  .navbar-inverse .navbar-nav > li > a:hover, .dropbtn:hover {
    color: #802000 !important;
    font-weight: bold;
    text-shadow: none;
    transition: 0.7s all linear;
  }


/* Dropdown Button */
.dropbtn {
  color: #d9d9d9;
  text-shadow: 1px 1px #bfbfbf; 
  margin-left: 25px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #302d2d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #d9d9d9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: palatino;
  text-shadow: 1px 1px #bfbfbf; 
  font-size: 1.1em;
  padding-bottom: 3px;
  padding-top: 3px;
}

.dropdown-content a:hover {
  color: #962803;
  font-weight: bold;
  text-shadow: none;
  transition: 0.7s all linear;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/* Home Styling */

  .main {
    background-color: #000;
    background-size: cover;
    background-position: center;
    content: "";
    height: 100%;
    position: fixed;
    width: 100%;
    transition: all 0.4s ease-in-out 0s;
  }

  .home-text-container h2 {
    color: #f2f2f2;
    font-size: 40px;
    font-weight: 175;
    margin-top: 100px;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1px 1px #999999;
  }

  .home-text-container p {
    color: #e6e6e6;
    margin-top: 2%;
    padding: 24px;
    /* margin-bottom: 0; */
    /* padding-bottom: 20px; */
    /* padding-left: 300px; */
    /* padding-right: 20px; */
    /* margin: auto; */
    overflow: auto;
    height: 450px;
    /* width: 700px; */
    }


/* About Me Styling */

#about {
  background: black;
  min-width: 100%;
  min-height: 100%;
}

#about-me-title h2{
  text-align: center;
  padding-top: 8%;
  color: white;
  font-size: 3em;
  font-family: palatino;
}

.about-img {
  width: 80%;
  margin-top: 6%;
}

  #about-me-text {
  width: 100%;
  margin-bottom: 10%;
  }


/* Contact Styling */

.contact-text-container h2 {
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 175;
  margin-top: 120px;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 1px 1px #999999;

}

.contact-text-container p {
    color: #e6e6e6;
    overflow: auto;
    height: 180px; 
}


  #contact-links {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    padding: 25px;
  }

  #contact-links a:hover,  #contact-links i:hover {  
    color: #999999;
  }

  #contact-links a {  
    color: #b3b3b3;
    text-decoration: none; 
    padding: 5px;
    font-size: 1.5em;
  }

  #contact-links i {
    color: #ffffff;
    font-size: 1.5em;
    background: #802000;
    border-style: groove;
    margin-top: 15px;
    background-position-x: center;
  }

  #email-link {
    text-align: center;
  }

  #email-link a {
    color: #b3b3b3;
    text-decoration: none; 
    padding: 5px;
    font-size: 1.5em; 
  }

  #email-link i {
    color: #ffffff;
    font-size: 1.5em;
    background: #802000;
    border-style: groove;
    margin-top: 5px;
    background-position-x: center;
  }
  
  .contact-img {
    margin-top: 0;
    width: 78%;
    margin-left: 80px;
  }


/* Image Gallery Styling */
.galleries {
  vertical-align: center;
  text-align: center;
  height: 600px;
  width: 700px;
  overflow: scroll;
  margin-left: 100px;
}

.galleries h2 {
  font-size: 30px;
  color: #802000;;
  font-style: italic;
}

.galleries img {
  max-width: 200px;
  max-height: 200px;
  overflow: auto;
  border-style: groove;
  border-color: #802000;
  padding: 10px;
  overflow: scroll;
  display: inline-block;

}


/* Video Gallery Styling */
.josh-video iframe{
  padding: 50px;
  margin-left: 50px;
}

/* Performances Styling */

.performances {
  background-color: #000;
  transition: all 0.4s ease-in-out 0s;
}

table {
  border-collapse: collapse;
  width: 65%;
  height: 700px;
  text-align: center;
  float: right;
  
}

table, th, td {
  border: 1px solid #802000;
  color: #ffffff;
  text-align: center;
  padding: 2px 2px 2px 2px;
}

tr:hover {
  background-color: #802000;
}

.play-list {
  height: 600px;
  padding-bottom: 100px;
  overflow: auto;
  margin-right: 20px;
}

.upcoming-show-box {
  background:rgba(194, 188, 188, 0.3);
}

/* Blog Styling */

.main-blog-img {
  width: 80%;
  margin-top: 100px;
}

.blog-title {
  text-align: center;
  padding-top: 8%;
  color: white;
  font-size: 3em;
  font-family: palatino;
}

.blog-list {
  background-color:  #b3b3b3;
  color: black;
  font-family: palatino;
  font-size: 1.2em;
  height: 500px;
  overflow: auto;
  padding-bottom: 30px;
} 

.blog-list li {
  margin: 0 auto;
  display: block;
  padding: 30px;
}