{{outlet}}

<body data-spy="scroll" data-offset="80">
{{nav-bar}}

  <section id="home" class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="contact-text-container">
						<h2>Contact Me</h2>
            {{!-- <p class="contact-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar suscipit nunc, lobortis placerat tortor tristique ut. Fusce non lacus diam. Aliquam erat volutpat. Suspendisse arcu massa, pellentesque eget porta laoreet, convallis ultricies sapien. Nulla vitae lectus ac erat feugiat rhoncus. Proin aliquam quis eros quis gravida. Nullam volutpat justo quis nisi mattis interdum. Sed libero dui, mollis ultricies dignissim malesuada, fringilla ut elit.</p> --}}
					</div>
        </div>
      </div>
      <div class="row">
        {{!-- <div class="col-md-12" id="email-link">
          
        </div> --}}
      </div>
      <div class="row" id="contact-links">
          {{!-- <div class="col-md-4">           
            <img class="about-img" src="images/contact_curtain.jpg">
          </div> --}}
        <div class="col-md-6"> 
          <a href="#"><i class="fa fa-envelope fa-fw"></i>Email: joshankabrandt@gmail.com</a><br>
          <a href="https://www.facebook.com/joshua.ankabrandt"><i class="fa fa-facebook fa-fw"></i>Facebook</a><br>                       
          <a href="#"><i class="fa fa-instagram fa-fw"></i>Instagram</a><br>
          <a href="#"><i class="fa fa-twitter fa-fw"></i>Twitter</a><br>
          <a href="#"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a><br>
          <a href="#"><i class="fa fa-youtube fa-fw"></i>YouTube</a><br>
        </div> 
        <div class="col-md-6">           
          <img class="about-img contact-img" src="images/contact_ups.jpg">
        </div>
      </div>
		</div>
	</section>
</body>