{{outlet}}
{{outlet}}

<body data-spy="scroll" data-offset="80">
{{nav-bar}}

  <section id="home" class="main"  style="background-image: url(images/contact_curtain.jpg);  background-size:cover; background-position: center center; ">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="hero-text" id="contact-head-text">
						<h2>Contact Me</h2>
            <p class="contact-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar suscipit nunc, lobortis placerat tortor tristique ut. Fusce non lacus diam. Aliquam erat volutpat. Suspendisse arcu massa, pellentesque eget porta laoreet, convallis ultricies sapien. Nulla vitae lectus ac erat feugiat rhoncus. Proin aliquam quis eros quis gravida. Nullam volutpat justo quis nisi mattis interdum. Sed libero dui, mollis ultricies dignissim malesuada, fringilla ut elit.<br><br>
            </p>
					</div> 
          <div class="list-group">
            <a class="list-group-item"><i class="fa fa-envelope fa-fw"></i>Email: joshankabrandt@gmail.com</a>
            <a href="https://www.facebook.com/joshua.ankabrandt" class="list-group-item"><i class="fa fa-facebook fa-fw"></i>Facebook</a>
            <a href="#" class="list-group-item"><i class="fa fa-instagram fa-fw"></i>Instagram</a>
            <a href="#" class="list-group-item"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
            <a href="#" class="list-group-item"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a>
            <a href="#" class="list-group-item"><i class="fa fa-youtube fa-fw"></i>YouTube</a>
          </div>
				</div><!-- END COL-->
			</div><!-- END ROW-->
		</div><!-- END CONTAINER-->
	</section>
	<!-- END  HOME DESIGN -->
</body>