<body data-spy="scroll" data-offset="80">
{{nav-bar}}

  <!-- START HOME -->
	<section id="home" class="main"  style="background-image: url(images/performances_vignette.jpg);  background-size:cover; background-position: center center; ">
		<div class="container">
			<div class="row">
				<div class="upcoming-show-box">
					<h2 class="upcoming-show">Upcoming Shows</h2>
					<div class="upcoming-show-list">
						Titanic: At Lancaster Bible College Sept 19th-24th 
						<a href="https://www.lbc.edu/events/">Go to event page</a>
					</div>
				</div>
			</div><!-- END ROW-->
		</div><!-- END CONTAINER-->
	</section>
</body>