{{outlet}}


<body data-spy="scroll" data-offset="80">
{{nav-bar}}

<section id="home" class="main"  style="background-image: url(images/about_me_background_pastels_long.jpg);  background-size:cover; background-position: center center; ">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<div class="home-text-container">
						<h2>Video Gallery</h2>
            <br>
					</div> 
          <div class="row justify-content-center">
            <div class="col-md-8">
              {{video-galleries}}
            </div>
          </div>
				</div><!-- END COL-->
			</div><!-- END ROW-->
		</div><!-- END CONTAINER-->
	</section>
</body>